:root {
  --back: hsl(0, 0%, 80%);
  --nav-button: hsl(0, 0%, 10%);
}

input {
  border: 1px solid var(--nav-button);
  border-radius: 10px;
  font-size: 1.25rem;
  padding: 2px 5px;
  outline: none;
  background: none;
}

.main-container {
  padding: 0px 10vw;
}

.input-label {
  padding: 5px 10px;
  margin: 0px;
  border: 1px solid black;
}

.item-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  background: black;
  border-radius: 5px;
  padding: 0 10px;
  opacity: 0;
  transform: scale(0);
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.5);
}

.tab-link {
  background: var(--nav-button);
  color: white;
  padding: 10px 5px;
  margin-right: 10px;
  border: none;
  /* border-left: 1px solid white;
  border-right: 1px solid white; */
  outline: none;
  text-decoration: none;
}

nav {
  display: flex;
  position: sticky;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 1vw;
  background: var(--nav-button);
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0px;
}
.main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(0, 0%, 20%);
  color: white;
  border-radius: 5px;
  padding: 2px 4px;
  margin-right: 10px;
  flex-grow: 0;
}
button {
  background: var(--nav-button);
  color: white;
  font-size: 1.1rem;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.space-v {
  margin: 10px 0px;
}

div,
p {
  margin: 0px;
  padding: 0px;
}

.title-label {
  background: var(--back);
  /* hsl(0 0% 40%); */
}

.full-w {
  width: 100%;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  border: 1px solid black;
  border-radius: 10px;
  min-width: 150px;
  padding: 0 20px 0 0;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.main > h3 {
  margin-left: 20px;
}
@media screen and (max-width: 600px) {
  .main {
    flex-direction: column;
  }
  .main > h3 {
    margin-left: 0px;
  }
}
.row {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  margin-bottom: 10px;
  /* transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
}

.cell {
  font-size: 1.1rem;
  padding: 5px 10px;
  border-radius: 10px;
}
